/* Sidebar */
div#sidebar {
  color: white;
  background-color: #3f4650;
  padding: 0;
  position: fixed;
  top: 0;
  bottom: 0; }
  div#sidebar.col.s3 {
    width: 25%; }
  div#sidebar.col.l2 {
    width: 16.6666666667%; }
  div#sidebar div.title {
    height: 75px;
    background-color: #383d44;
    text-align: center; }
    div#sidebar div.title h1 {
      padding: 0;
      margin: 0; }
  div#sidebar nav.side_navigation {
    background-color: #3f4650;
    height: auto; }
    div#sidebar nav.side_navigation ul li {
      width: 100%;
      color: #8b939c; }
      div#sidebar nav.side_navigation ul li.separator {
        height: 1px;
        background: #8b939c !important; }
    div#sidebar nav.side_navigation a.btn-large {
      background-color: transparent !important;
      border: 2px solid #9cc1cc;
      color: #9cc1cc;
      text-transform: uppercase;
      border-radius: 5px; }

/* Content */
div#content {
  padding: 0; }
  div#content.col.s6 {
    margin-left: 25%; }
  div#content.col.l8 {
    margin-left: 16.6666666667%; }
  div#content div.top {
    height: 75px;
    background-color: #e4b34b; }
  div#content div.container table.bordered thead {
    font-weigth: 300; }
  div#content div.container table.bordered tbody tr:nth-child(-n+3) {
    font-weight: 500; }
  div#content div.container table.bordered tbody tr td.down i.material-icons {
    color: #da6962; }
  div#content div.container table.bordered tbody tr td.up i.material-icons {
    color: #9ac4d7; }

/* Preview */
div#preview {
  padding: 0; }
  div#preview div.top {
    height: 75px;
    background-color: #fcfcfc; }
  div#preview div.preview {
    color: #3f4650; }

/* Hack CSS for material icon */
i.hack_css {
  transform: rotate(-135deg) scaleX(-1);
  color: #3f4650; }
