$white: rgb(255, 255, 255);

$whiteGrey: rgb(252, 252, 252);
$whiteLight: rgb(252, 252, 252);

$greyDark: rgb(56, 61, 68);
$greyLight: rgb(64, 71, 79);
$greyBlue: rgb(156, 193, 204);

$gold: rgb(228, 179, 75);

$blueLight: rgb(154, 196, 215);
$redLight: rgb(218, 105, 98);
