div#sidebar
{
    &.col.s3 {
        width: 25%;
    }

    &.col.l2 {
        width: 16.6666666667%;
    }
    
    color: $white;
    background-color: $greyLight;
    padding:0;
    position:fixed;
    top:0;
    bottom:0;

    div.title {
        height:75px;
        background-color: $greyDark;
        text-align: center;
        h1 {
            padding:0;
            margin:0;
        }
    }

    nav.side_navigation {
        background-color: $greyLight;
        height: auto;
        ul {
            li {
                width:100%;

                &.separator {
                    width:2px;
                    background-color: $greyBlue;
                }
            }
        }

        a.btn-large {
            background-color: transparent !important;
            border:2px solid $greyBlue;
            color: $greyBlue;
            text-transform: uppercase;
            border-radius: 5px;
        }
    }
}
